<mat-card class="tribe-card" *ngFor="let tribe of (tribes$ | async)">
  <mat-card-header>
    <img class="tribe-icon" mat-card-avatar [src]="'assets/images/tribe-icons/' + tribe.id + '.png'"
      [style.border-color]="tribe.color">
    <mat-card-title>{{tribe.name}}</mat-card-title>
    <mat-card-subtitle>({{tribe.wins}}, {{tribe.losses}})</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let player of tribe.players">
        <span *ngIf="!player.eliminated; else eliminated">{{player.name}}</span>
        <ng-template #eliminated>
          <span class="player-name player-name--eliminated">{{player.name}}</span>
          <span class="eliminated-message">&nbsp;(round {{player.eliminated}})</span>
        </ng-template>
        <a [href]="'mailto:' + player.email">
          <mat-icon class="player-email">email</mat-icon>
        </a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
