<app-navbar></app-navbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a class="nav-tab" mat-list-item routerLink="/tribes" routerLinkActive="active">Tribes</a>
      <a class="nav-tab" mat-list-item style="pointer-events: none;">Results</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/23" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;23. Sock-er</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/22" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;22. Coin Spin</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/21" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;21. Zombie Defender</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/20" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;20. Fishy</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/19" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;19. Pen(cil) Bounce</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/18" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;18. Wiki Leaks</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/17" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;17. Broom Broom</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/16" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;16. TP in the Air</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/15" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;15. Crossword</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/14" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;14. Escape The Boat House</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/13" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;13. Name That Song</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/12" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;12. Sporcle Typing</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/11" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;11. Geoguesser</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/10" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;10. Pinball</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/9" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;9. Staring Contest</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/8" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;8. Wallsits</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/7" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;7. Nose Spoons</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/6" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;6. 60 Seconds</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/5" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;5. Z-A</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/4" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;4. Shirts On/Off</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/3" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;3. Sporcle States</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/2" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;2. 32oz Chug</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/1" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;1. Hold Your Breath</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 95%">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
