<app-navbar></app-navbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a class="nav-tab" mat-list-item routerLink="/tribes" routerLinkActive="active">Tribes</a>
      <a class="nav-tab" mat-list-item style="pointer-events: none;">Results</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/1" routerLinkActive="active">Round 1</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
