<app-navbar></app-navbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a class="nav-tab" mat-list-item routerLink="/tribes" routerLinkActive="active">Tribes</a>
      <a class="nav-tab" mat-list-item style="pointer-events: none;">Results</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/1" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Round 1</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/2" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Round 2</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/3" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Round 3</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/4" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Round 4</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/5" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Round 5</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/6" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Round 6</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/7" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Round 7</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/8" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Round 8</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/9" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Round 9</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/10" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Round 10</a>
      <a class="nav-tab nav-tab__child" mat-list-item routerLink="/results/11" routerLinkActive="active">&nbsp;&nbsp;&nbsp;&nbsp;Round 11</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 95%">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
