app-result-row {
  margin: 15px;
}

:host ::ng-deep {

  .round-header-card {
    display: inline-block;
    margin-bottom: 15px;

    .mat-card-header-text {
      margin: 0;
    }
  }

  .eliminated-card {
    flex: 0 1 30%; 
    margin-left: 20px;
  }

  .chart-card {
    // height: 700px;
    flex-grow: 1;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .result-card {
    margin-bottom: 20px;
  }

  .result-cards {
    flex: 0 1 30%;
  }
}
